/* general styling */

body {
  font-family: Helvetica, Arial, sans-serif;
  accent-color: rgb(13, 222, 13);
}

p, ul {
  line-height: 150%;
}

a {
  color: darkgreen;
}

button, .upload {
  border: none;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(233, 233, 237);
  margin: 0px;
  font-size: 0.84em;
  box-sizing: border-box;
}

button:hover, .upload:hover {
  background-color: rgb(13, 222, 13);
}

/* id-based styling */

/* the jscad canvas */
#jscad{
  width: 15cm;
  height: 15cm;
  margin: 2em;
  outline: 1px solid darkgreen;
}

/* main header, top of the page */
#header {
  text-align: center;
  padding: 2em;
  padding-bottom: 0;
}

#footer {
  border-top: 1px solid lightgray;
  font-size: 80%;
  padding: 1em;
}

/* class-based styling */

/* root container, init flexbox */
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  align-items: auto;
  align-content: start
}

/* items go side-by-side on big screens, and stack vertically on smaller screens */
.item {
  flex: 1 1 auto;
  margin: 2em;
}

.buttongrid {
  width: 45%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    padding: 0.5em;
    flex: 0 0 auto;
}

.featureRow {
  padding: 2em; 
  border-bottom: solid 1px black;
}

.featurePropertyRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: start;
  padding: 0.5em;
  flex: 0 0 auto;
}

.col50 {
  width: 50%;
}

.notes {
  padding: 2em;
}

.range-label {
  display: inline-block;
  width: 1em;
  text-align: right;
}