/* general styling */
p, ul {
  line-height: 150%;
}

button, .upload {
  border: none;
  padding: 0.5em;
  text-align: center;
  margin: 0px;
  font-size: 0.84em;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: rgb(67, 160, 71);
  color: white;
}

button:hover, .upload:hover {
  background-color: rgb(13, 222, 13);
}

/* id-based styling */

/* the jscad canvas */
#jscad{
  width: auto;
  height: 95vh;
  /* width: 15cm;
  height: 15cm; */
  /* margin: 2em; */
  border: 1px solid black;
}

/* class-based styling */


.buttongrid {
  width: 100%;
}

.featureRow {
  padding: 2em; 
  border-bottom: solid 1px black;
}

.featurePropertyRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: start;
  padding: 0.5em;
  flex: 0 0 auto;
}


.notes {
  padding: 2em;
}

.notes > details > summary {
  font-weight: bold;
}

.range-label {
  display: inline-block;
  width: 1.5em;
  text-align: right;
}

.addbuttons > button {
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
  display: inline;
  margin: 0.5em;
}

table > tr:first-child {
  text-align: left;
}

table > tr:last-child {
  text-align: right;
}

input[type="text"], input[type="range"] {
  height: 1.5em;
  margin-bottom: 0 !important;
}

input, select, .slider {
  height: 1.5em !important;
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
}

.outlined-table {
  outline: solid 1px black;
}

.feature-table-top-cell {
  padding-top: 1.5em;
}

.feature-table-bottom-cell {
  padding-bottom: 1.5em;
}

.sectiontitle {
  font-size: 1.5em;
  font-weight: bold;
} 

.featuretitle {
  font-weight: bold;
} 
