/* general styling */
p, ul {
  line-height: 150%;
}

button, .upload {
  border: none;
  padding: 0.5em;
  text-align: center;
  background-color: rgb(233, 233, 237);
  margin: 0px;
  font-size: 0.84em;
  box-sizing: border-box;
}

button:hover, .upload:hover {
  background-color: rgb(13, 222, 13);
}

/* id-based styling */

/* the jscad canvas */
#jscad{
  width: 15cm;
  height: 15cm;
  margin: 2em;
  outline: 1px solid darkgreen;
}

/* class-based styling */


.buttongrid {
  width: 45%;
}

.featureRow {
  padding: 2em; 
  border-bottom: solid 1px black;
}

.featurePropertyRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: start;
  padding: 0.5em;
  flex: 0 0 auto;
}


.notes {
  padding: 2em;
}

.range-label {
  display: inline-block;
  width: 1em;
  text-align: right;
}