body {
    font-family: Helvetica, Arial, sans-serif;
    accent-color: rgb(13, 222, 13);
}

a {
    color: darkgreen;
  }

  /* root container, init flexbox */
  
  /* items go side-by-side on big screens, and stack vertically on smaller screens */
  .item {
    flex: 1 1 auto;
    margin: 2em;
  }


/* main header, top of the page */
#header {
    text-align: center;
    padding: 2em;
    padding-bottom: 0;
  }
  
/* footer, bottom of the page */
#footer {
  border-top: 1px solid lightgray;
  font-size: 80%;
  padding: 1em;
}

.col50 {
    width: 50%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    padding: 0.5em;
    flex: 0 0 auto;
}

